.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drop {
  display: flex;
  width: 480px;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  font-family: sans-serif;
  border: 2px dashed #ccc;
  border-radius: 20px;
}

.active {
  border-color: purple;
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #555;
  border-radius: 10px;
  border-color: transparent;
  border: none;
  text-transform: uppercase;
  color: #ccc;

  transition: background-color .3s ease-out;
} 

.button:hover {
  background-color: #333;
}

.button:disabled {
  cursor: auto;
  background-color: #999;
}